<div>
    <br /><a href="/bills/newbill">Billing</a>&emsp;
    <a href="/inventory/manage">InventoryManagement</a>&emsp;
    <a href="/inventory/view">View Inventory</a>&emsp;
    <a href="/bills/view">View Bills</a>
</div>