<div>
    <br />
    <table width="70%"; class='table'>
        <th>
            <td><a href="/bills/newbill">Billing</a></td>
            <td><a href="/inventory/manage">InventoryManagement</a></td>
            <td><a href="/inventory/view">View Inventory</a></td>
            <td><a href="/bills/view">View Bills</a></td>
        </th>
    </table>
</div>