<table width="100%" ;>
    <tr>
        <td><label>Search Result</label></td>
        <td>
            <label>Show <select id='resultcount'>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries</label>
        </td>
        <td>
            <ul class="pagination">
                <li><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </td>
    </tr>
</table>