<input type="radio" name="type" value="All" checked>All
<input type="radio" name="type" value="mobile" onchange="
javascript:
document.getElementById('IMEI').hidden=!this.checked;
document.getElementById('model').hidden=!this.checked;
"> Mobile
<input type="radio" name="type" value="spare" onchange="
javascript:
document.getElementById('IMEI').hidden=this.checked;
document.getElementById('model').hidden=!this.checked;
"> Spare
<input type="radio" name="type" value="ec" onchange="
javascript:
document.getElementById('IMEI').hidden=!this.checked;
document.getElementById('model').hidden=this.checked;
"> EC<br /><br />

<input id="IMEI" name="IMEI" type="text" placeholder="Enter IMEI" />
<input id="model" name="model" type="text" placeholder="Enter Model" />

<%if(shop == 'All'){ //temp code%>
<select name='shop' id='shop'>
    <option value="All">All</option>
    <option value="MIUTG">MIUTG</option>
    <option value="MIPO">MIPO</option>
    <option value="MMCELL">MMCELL</option>
    <option value="MMCELLNEW">MMCELLNEW</option>
</select>
<%}%>