<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
    
    <%- //include('../homepage/index')%>
    <div class="container">
            <a href="/">
                <h1>Pilot Proj Application Layout </h1>
            </a>
        <%- body %>
    </div>
</body>
</html>