User Login Done - <%- username%>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>

<br/><a href="/billManagement">Billing</a></br>
<a href="/inventoryManagement">inventoryManagement</a></br>
<a href="/viewInventory">View Inventory</a></br>
<a href="/viewBill">View Bills</a></br>