User Login Done - <%- username%>

<br/><a href="/bills/newbill">Billing</a></br>
<a href="/inventory/manage">inventoryManagement</a></br>
<a href="/inventory/view">View Inventory</a></br>
<a href="/bills/view">View Bills</a></br>